useDynLib("VICCBiostat", "_infotest")

export(accuracy, crossoverdesign, order.data.frame, stratify)
export(multidensityplot, QC, scoredensityplot, winnerplot, winnerplots)

export(roc)
S3method(roc, default)
S3method(roc, formula)
S3method(plot, roc)

exportPattern("\\.test$")
S3method(info.test, default)
S3method(info.test, formula)
S3method(huwright.test, default)
S3method(huwright.test, formula)
S3method(wga.test, default)
S3method(wga.test, formula)
S3method(wilcoxon.test, default)
S3method(wilcoxon.test, formula)

export(tplot)
S3method(tplot, default)
S3method(tplot, formula)
